.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $color-bgc-footer;
}

.footer__conteiner {
    text-align: center;

    @media screen and (min-width: 768px) {
        display: flex;
        align-items: baseline;
        justify-content: space-around;
        flex-wrap: wrap;
    }

    @media screen and (min-width: 1200px) {
        text-align: start;
    }
}

.footer__contacts {
    @media screen and (max-width: 1199px) {
        justify-content: center;
        // flex-basis: calc(100%/2);
    }

    @media screen and (min-width: 1200px) {
        margin-right: 70px;
        flex-grow: 1;
    }
}

.footer__logo {
    margin-bottom: 20px;
}

// Адреса, контакти
.address__item {
    &:not(:first-child) {
        margin-top: 7px;
    }
}

.address__map-link {
    font-style: normal;
    letter-spacing: 0.03em;
    color: $color-text-white;
}

.address__link {
    font-style: normal;
    letter-spacing: 0.03em;
    transition: color $transition-main;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
        color: $color-theme-main;
    }
}

//  Соціальні мережі
.footer__socials {
    display: flex;
    flex-direction: column;

    @media screen and (max-width: 767px) {
        margin-top: 60px;
    }

    @media screen and (max-width: 1199px) {
        justify-content: center;
        // flex-basis: calc(100%/2);
    }

    @media screen and (min-width: 1200px) {
        justify-content: left;
        margin-right: 93px;
    }
}

.footer__title {
    margin-top: 0;
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-text-white;
}

// Підписка
.subscription {
    @media screen and (max-width: 1199px) {
        margin-top: 60px;
    }
 
    @media screen and (min-width: 1200px) {
        max-width: 570px;  
    }
}

.subscription__title {
    font-weight: 700;
    line-height: 1.14px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: $color-text-white;
}

.subscription__form {
    margin-top: 20px;

    @media screen and (min-width: 1200px) {
       display: flex;
       align-items: center;
    }
}

.subscription__input {
    font-size: 16px;
    line-height: 1.25;
    padding-left: 15px;
    align-items: center;
    width: 100%;
    height: 50px;
    color: $color-text-white;
    background-color: #2f303a;
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    border-radius: 4px;

    @media screen and (max-width: 1199px) {
       max-width: 450px;
    }

    @media screen and (min-width: 480px) {
        width: 450px;
    }

    @media screen and (min-width: 1200px) {
        max-width: 100%;
    }

    &::placeholder {
        color: rgba(255, 255, 255, 0.6);
    }
}

.subscription__button {
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    min-width: 200px;
    height: 50px;
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    letter-spacing: 0.06em;
    color: $color-text-white;
    background-color: $color-theme-main;
    border: none;
    border-radius: 4px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);

    @media screen and (min-width: 1200px) {
        margin-top: 0;
        margin-right: 0;
        margin-left: 12px;
    }

    &:hover,
    &:focus {
        background-color: #188ce8;
    }
}