:root {
  /* Шрифты */
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;

  --main-txt-color: #757575;
  /* Цвета текста */
  --secondary-txt-color: #000000;
  --title-color: #212121;

  /*Цвет иконок */
  --icon-color: #afb1b8;

  /* Цвета бэкграундов */
  --hero-bg-color: #c4c4c4;
  --section-bg-color: #f5f4fa;
  --main-bg-color: #ffffff;
  --footer-bg-color: #2f303a;
  /* Акцент */
  --aсcent-color: #2196f3;
  --aсcent-color-hover: #188ce8;
  /* Цвет линии хедера */
  --line-header-color: #ececec;
  --line-wrapper-color: #eeeeee;
  /* Градиент */
  --gradient-color: rgba(47, 48, 58, 0.4);
}

body {
  color: var(--main-txt-color);
  background-color: var(--main-bg-color);

  font-family: var(--main-font);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

/* Сбрасываем верхние margin */
h1,
h2,
h3,
h4,
ul,
p {
  margin-top: 0px;
  margin-bottom: 0px;
}

/* h1:last-child,
h2:last-child,
h3:last-child,
h4:last-child,
ul,
p {
  margin-bottom: 0px;
} */

/* Список без маркеров */
.list-no-marker {
  list-style: none;
  padding-left: 0px;
}

.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

/* Ссылки без подчеркивания */
.link-no-decor {
  text-decoration: none;
}
/* Шапка сайта */
.logo {
  margin-right: 93px;

  color: var(--secondary-txt-color);
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
}

.aсcent {
  color: var(--aсcent-color);
}

/* index.html */
/* Главная навигация */
.header {
  padding-top: 24px;
  padding-bottom: 25px;
}

.header .container {
  display: flex;
  align-items: center;
}

.header .nav {
  display: flex;
  align-items: center;
}

.nav .list {
  display: flex;
  align-items: center;
}

.nav .list .item {
  margin-right: 50px;
}

.nav .list .item:last-child {
  margin-right: 0px;
}

.header .contact-list {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.contact-list .item {
  margin-right: 30px;
  font-weight: 500;
}

.contact-list .item:last-child {
  margin-right: 0px;
}

.contact-icon {
  margin-right: 10px;
  fill: currentColor;
}

.header .link {
  color: var(--title-color);
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.link:hover,
.link:focus {
  color: var(--aсcent-color);
}

.contact-list .link {
  display: flex;
  align-items: center;
  color: var(--main-txt-color);
}

.contact-list .link:hover,
.contact-list .link:focus {
  color: var(--aсcent-color);
}

.header {
  border-bottom: 1px solid var(--line-header-color);
}

/* Секция Герой */
.hero {
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
  background-color: var(--hero-bg-color);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero.jpg);
  background-position: center;
  background-repeat: no-repeat;
}

.hero-title {
  color: var(--main-bg-color);
  margin-bottom: 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
}

.button {
  color: var(--main-bg-color);
  background-color: var(--aсcent-color);

  font-family: var(--main-font);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.06em;
  cursor: pointer;
  padding: 10px 32px;
  border: none;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.button:hover,
.button:focus {
  background-color: var(--aсcent-color-hover);
}

/* Секция особенности */

.feature {
  padding-top: 94px;
  padding-bottom: 94px;
}

.feature .container .list {
  display: flex;
}

.feature .subtitle {
  margin-bottom: 10px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-transform: uppercase;
}

.feature .item {
  width: 270px;
  margin-right: 30px;
}

.feature .item:last-child {
  margin-right: 0px;
}

.wrapper-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 270px;
  height: 120px;
  margin-bottom: 30px;
  background-color: var(--section-bg-color);
  border-radius: 4px;
}

.teature-icon {
  width: 70px;
  height: 70px;
}

/* Секция Чем мы занимаемся */
.about {
  text-align: center;
  padding-bottom: 94px;
}

.about .title {
  margin-bottom: 50px;

  color: var(--title-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  font-style: var(--secondary-font);
}

.about .list {
  display: flex;
  /* margin-right: 0px;
  margin-left: 0px; */
}

.about .item {
  margin-right: 30px;
}

.about .item:last-child {
  margin-right: 0px;
}

/* Секция Наша команда */
img {
  display: block;
}
.team .title {
  color: var(--title-color);

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  text-align: center;
  margin-bottom: 50px;
}

.team .subtitle {
  color: var(--title-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
}

.team .description {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  margin-bottom: 16px;
}

.team {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--section-bg-color);
}

.team .list {
  display: flex;
}

.team .item {
  margin-right: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.item-decriptions {
  background-color: var(--main-bg-color);
  padding-top: 30px;
  padding-bottom: 30px;
  border-radius: 0px 0px 4px 4px;
}

.team .item:last-child {
  margin-right: 0px;
}

.item .subtitle {
  margin-bottom: 10px;
}

.team .socials-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials-item:not(:last-child) {
  margin-right: 10px;
}

.socials-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  /* outline: 1px solid tomato; */
  background-color: var(--main-bg-color);
  border-radius: 50%;
}

.item-decriptions .socials-icon {
  width: 20px;
  height: 20px;
  fill: var(--icon-color);
}

.socials-link:hover .socials-icon,
.socials-link:focus .socials-icon {
  fill: var(--aсcent-color);
}

/* .tiam .socials-item:not(:last-child) {
  margin-right: 10px;
} */

/* Секция Постоянные клиенты */

.clients {
  padding: 94px 0;
}

.clients .title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
}

.clients .list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.clients .item:not(:last-child) {
  margin-right: 30px;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 92px;
  border: 1px solid var(--icon-color);
  border-radius: 4px;
}

.clients-icon {
  width: 106px;
  height: 60px;
  fill: var(--icon-color);
}

.clients-link:hover,
.clients-link:focus {
  border: 1px solid var(--aсcent-color);
}

.clients-link:hover .clients-icon,
.clients-icon:focus {
  fill: var(--aсcent-color);
}

/* _________________________________________________________________________ */

/* portfolio.html */
/* Фильтр */
.examples {
  padding-top: 94px;
  padding-bottom: 94px;
}

.list-filter {
  display: flex;
  justify-content: center;
}

.list-filter .button {
  color: var(--title-color);
  background-color: var(--section-bg-color);

  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  letter-spacing: 0.03em;
  text-align: center;
  padding: 6px 22px;
  border-radius: 4px;
}

.examples .button:hover,
.examples .button:focus {
  color: var(--main-bg-color);
  background-color: var(--aсcent-color);
}

.list-filter .item {
  margin-right: 8px;
}

.list-filter .item:last-child {
  margin-right: 0px;
}

.list-filter {
  margin-bottom: 50px;
}

/* Примеры работ */
.examples .examples-list {
  display: flex;
  flex-wrap: wrap;
  /* flex-basis: calc(100% / 3 - 30px); */
  margin-right: -30px;
  margin-bottom: -30px;
}

.examples-list .item {
  margin-right: 30px;
  margin-bottom: 30px;
}

.examples-list .item:hover,
.examples-list .item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/* .examples-list .item:nth-child(3n + 3) {
  margin-right: 0px;
} */

/* .examples-list .item:nth-child(n + 7) {
  margin-bottom: 0px;
} */

.examples .subtitle {
  color: var(--title-color);

  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.examples-list .subtitle {
  margin-bottom: 4px;
}

.examples .descriptions {
  color: var(--main-txt-color);

  font-weight: 400;
  font-size: 16px;
  line-height: 1.875;
  letter-spacing: 0.03em;
}

.wrapper-descr {
  box-sizing: border-box;
  /* background-color: var(--main-bg-color); */
  /* outline: 1px solid tomato; */
  /* border: 1px solid var(--line-wrapper-color); */
  /* border-right: 1px solid var(--line-wrapper-color);
  border-bottom: 1px solid var(--line-wrapper-color);
  border-left: 1px solid var(--line-wrapper-color); */

  padding: 20px 24px;
}

/* Footer */

.footer .container {
  display: flex;
  align-items: baseline;
}

.footer {
  background-color: var(--footer-bg-color);
}

.logo-second-color {
  color: var(--main-bg-color);
}

.footer .address {
  color: var(--main-bg-color);

  font-weight: 400;
  font-size: 14px;
  font-style: normal;
  line-height: 1.71;
}

.footer .link {
  color: rgba(255, 255, 255, 0.6);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer .logo {
  display: inline-block;
  margin-bottom: 20px;
  margin-right: 0px;
}

.footer .address,
.footer .item {
  margin-bottom: 9px;
}
.footer .item:last-child {
  margin-bottom: 0px;
}

.wrapper-contact {
  margin-right: 70px;
}

.social-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-bg-color);

  margin-bottom: 20px;
}

.wrapper-social .socials-link {
  background-color: rgba(255, 255, 255, 0.1);
}

.wrapper-social .socials-link:hover,
.wrapper-social .socials-link:focus {
  background-color: var(--aсcent-color);
}

.wrapper-social .socials-list {
  display: flex;
}

.wrapper-social .socials-icon-footer {
  width: 20px;
  height: 20px;
  fill: var(--main-bg-color);
}
