/* Контакты хедер */

.contact {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  @media screen and (max-width: 767.5px) {
    display: none;
  }
  @media screen and (min-width: 1200px) {
    flex-direction: row;
    align-items: center;
  }

  &__item {
    font-weight: 500;
    @media screen and (max-width: 1199.5px) {
      &:not(:last-child) {
        margin-bottom: 10px;
      }
    }
    @media screen and (min-width: 1200px) {
      &:not(:last-child) {
        margin-right: 30px;
      }
    }
  }

  &__link {
    display: flex;
    align-items: center;

    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;

    color: var(--main-txt-color);
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 1200px) {
      font-size: 14px;
      line-height: 16px;
    }

    &:hover,
    &:focus {
      color: var(--aсcent-color);
    }
  }
  &__icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
