/* Секция особенности */

.feature {
  padding-top: 60px;
  padding-bottom: 60px;

  @media screen and (min-width: 1200px) {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  &__list {
    @media screen and (max-width: 767.5px) {
      max-width: 450px;
      margin-left: auto;
      margin-right: auto;
    }
    @media screen and (min-width: 768px) {
      display: flex;
      flex-wrap: wrap;
      gap: 30px;
    }
    @media screen and (min-width: 768px) and (max-width: 1199.5px) {
      // margin-right: -30px;
      // margin-bottom: -30px;
    }
  }

  &__subtitle {
    margin-bottom: 10px;

    color: var(--title-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-transform: uppercase;

    @media screen and(max-width:767.5px) {
      text-align: center;
    }
  }

  &__item {
    @media screen and (max-width: 767.5px) {
      margin-bottom: 30px;
    }

    @media screen and (min-width: 768px) and (max-width: 1199.5px) {
      width: 354px;

      // margin-right: 30px;
      // margin-bottom: 30px;
    }

    @media screen and (min-width: 1200px) {
      width: 270px;
    }
  }

  &__antenna::before,
  &__clock::before,
  &__diagram::before,
  &__astronaut::before {
    content: '';
    display: block;

    width: 100%;
    height: 120px;
    margin-bottom: 30px;
    border-radius: 4px;

    background-color: var(--section-bg-color);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 70px;
  }

  &__antenna::before {
    background-image: url(../images/svg/antenna.svg);
  }

  &__clock::before {
    background-image: url(../images/svg/clock.svg);
  }

  &__diagram::before {
    background-image: url(../images/svg/diagram.svg);
  }

  &__astronaut::before {
    background-image: url(../images/svg/astronaut.svg);
  }
}
