/* Секция Герой */
.hero {
  text-align: center;
  padding-top: 118px;
  padding-bottom: 118px;
  background-color: var(--hero-bg-color);

  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;

  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/hero/hero_sm.jpg);
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    -webkit-image-set(url(../images/hero/hero_sm.webp) 1x);

  @include mq(retina) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero_sm@2x.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      -webkit-image-set(url(../images/hero/hero_sm@2x.webp) 2x);
  }

  @include mq(tablet) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero_md.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      -webkit-image-set(url(../images/hero/hero_md.webp) 1x);
    @include mq(retina) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero_md@2x.jpg);
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        -webkit-image-set(url(../images/hero/hero_md@2x.webp) 2x);
    }
  }

  @include mq(desktop) {
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      url(../images/hero/hero_lg.jpg);
    background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
      -webkit-image-set(url(../images/hero/hero_lg.webp) 1x);
    @include mq(retina) {
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        url(../images/hero/hero_lg@2x.jpg);
      background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
        -webkit-image-set(url(../images/hero/hero_lg@2x.webp) 2x);
    }
  }

  @media screen and (min-width: 1200px) {
    padding-top: 200px;
    padding-bottom: 200px;
  }

  &__title {
    color: var(--main-bg-color);
    margin-bottom: 30px;

    font-weight: 900;
    font-size: 26px;
    line-height: 1.61;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    text-align: center;

    @media screen and (min-width: 1199.5px) {
      @include fonts(44px, 1.36, 0.06em);
    }
  }
}
