/* Примеры работ */

.cards-list {
  display: flex;
  flex-wrap: wrap;
  flex-basis: calc(100% / 3 - 30px);
  margin-right: -30px;
  margin-bottom: -30px;

  &__item {
    margin-right: 30px;
    margin-bottom: 30px;
  }

  &__link {
    display: block;

    transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
        1px 4px 6px rgba(0, 0, 0, 0.16);
    }
  }

  &__thumb {
    position: relative;

    overflow: hidden;
  }

  &__meta {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100%;
    padding: 63px 24px;

    font-weight: 400;
    font-size: 18px;
    line-height: 1.56;
    letter-spacing: 0.03em;

    color: var(--main-bg-color);
    background-color: rgba(33, 150, 243, 0.9);

    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover &__meta,
  &__link:focus &__meta {
    transform: translateY(0%);
  }

  &__subtitle {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.05em;

    color: var(--title-color);
  }

  &__descriptions {
    color: var(--main-txt-color);

    font-weight: 400;
    font-size: 16px;
    line-height: 1.875;
    letter-spacing: 0.03em;
  }

  &__wrapper {
    box-sizing: border-box;
    border-right: 1px solid var(--line-wrapper-color);
    border-bottom: 1px solid var(--line-wrapper-color);
    border-left: 1px solid var(--line-wrapper-color);

    padding: 20px 24px;
  }
}
