@import '../mobile-menu/mobile-nav';
@import '../mobile-menu/mobile-cocials-list';

.no-scroll {
  overflow-y: hidden;
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  position: fixed;
  top: 0;
  left: 0;

  width: 100vw;
  height: 100vh;
  padding: 40px 48px;

  background-color: var(--main-bg-color);

  transform: translateX(100);
  visibility: hidden;
  pointer-events: none;

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &__list {
    margin-bottom: 32px;
  }

  &__item:not(:last-child) {
    margin-bottom: 32px;
  }

  &__link {
    font-weight: 500;
    font-size: 25px;
    line-height: 1.17;
    letter-spacing: 0.02em;

    color: var(--aсcent-color);

    @media screen and (min-width: 393px) {
      font-size: 34px;
    }

    &--grey {
      font-size: 24px;
      line-height: 1.16;

      color: #757575;
    }

    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    &:hover,
    &:focus {
      color: var(--aсcent-color);
    }
  }

  &.is-active {
    transform: translateX(0);
    visibility: visible;
    pointer-events: initial;
  }

  &.is-open {
    transform: translateX(0);
    visibility: visible;
    pointer-events: initial;
  }
}
